:root {
    --azulzinho: rgb(44, 183, 189);
    --dark: rgb(35, 32, 39);
    --purplezao: rgb(28, 23, 56);
    --purplezinho: rgb(58, 51, 100);
    --hover: salmon;
    --escurinho: rgb(229, 229, 240);
}

@media (min-width: 768px) {
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        font-family: Poppins;

    }

    /* BARRA DE NAVEGAÇÃO */
    header {
        display: flex;
        flex-direction: row;
    }

    #logo {
        margin-top: 20px;
        width: 100px;

        margin-left: 6em;
    }

    #header-links {
        display: flex;
        flex-direction: row !important;
        justify-content: flex-start;
        align-items: center;
        margin-top: 1%;
        margin-left: 2em;
        margin-right: 2em;
        width: 100vw;
    }
    #header-links > a {
        margin-right: 1em;
        color: gray;
        text-decoration: none;
    }
    #header-links a:hover {
        color: salmon;
    }
    #header-links > a:nth-child(4) {
        margin-left: auto;
    }

    /* FIM DA BARRA DE NAVEGAÇÃO */

    /* SEÇÃO MAIN (onde reside o hero) */
    main {
        display: flex;
        margin-top: 3em;
        margin-right: 6em;
        margin-left: 6em;
    }

    main > div {
    }
    main > div:nth-child(1) {
        display: flex;
        flex-direction: column;
    }
    #hero-svg {
        width: 40vw;
    }
    h1 {
        font-size: 3em;
        line-height: 1.2em;
        margin-bottom: 0;
    }
    p {
        margin-top: 0.5em;
        margin-bottom: 2em;
        color: gray;
    }
    button {
        margin-top: 1em;
        font-size: 1.2em;
        border: none;
        width: 7.5em;
        height: 2.5em;
        font-weight: 800;
        font-family: Poppins;
        border-radius: 50px;
        background-color: green;
        color: white;
    }
    button:hover {
        background-color: rgb(0, 199, 0);
    }
    /* FIM DA SEÇÃO MAIN */

    /* INPUT SECTION  */
    #input-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #input-section #caixinha {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 50px;
        border-radius: 10px;
        margin-left: 6em;
        margin-right: 6em; /* REFATORAR porque se mudar um já sabe né? */
        width: 85vw;
        height: 120px;
        
        background-image: url("/images/bg-shorten-desktop.svg");
        background-color: rgb(28, 23, 56);
    }

    #resposta {
        flex-basis: 100%;
        border:1px solid rgb(124, 124, 124);
        background-color:white;
        border-radius:15px;
        width:80vw;
        padding-left:2em;

    }

    #input-section #caixinha input {
        font-family: Poppins;
        width: 70%;
        height: 30%;
        border: none;
        border-radius: 5px;
        font-weight: 400;
        padding-left: 1em;
        padding-right: 1em;
    }

    #input-section #caixinha button {
        /* REFAZER POIS TEM COISAS EM COMUM COM O OUTRO BUTTON */
        margin-top: 0;
        margin-left: 1em;
        border-radius: 5px;
    }
    /* FIM DA INPUT SECTION */

    /* FEATURES SECTION, basicamente só divs com p dentro. */
    #features-section {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: var(--escurinho);
        position: relative;
        top: -3.8em; /* MAGIC NUMBER <<<<<<<<<<<<<< */
        padding-top: 3.8em;

        z-index: -1;
        margin-bottom: -3.8em;
        padding-bottom: 6em;
    }

    #features-text-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1em; /* VERIFICAR MARGEM DE TODAS AS DIVS EM MOBILE. PODE SER UMA SÓ VARIÁVEL. */
    }

    #cards-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .card {
        border-radius: 5px;
        background-color: white;
        margin-left: 1em;
        margin-right: 1em;
        margin-bottom: 2.5em;
        width: 25%;
    }
    .card h4 {
        text-align: left;
        margin: 1.5em;
        margin-top: -1.5em;
        margin-bottom: 1em;
    }

    .card p {
        text-align: left;
        margin: 1.5em;
    }
    .card.two {
        position: relative;
        top: 3em;
    }
    .card.three {
        position: relative;
        top: 6em;
    }
    .corner-pic {
        background-color: rgb(53, 2, 53);
        padding: 0.8em;
        width: 3em;
        height: 2.8em;
        border-radius: 50px;
        position: relative;
        top: -2em;
        left: 2em;
    }

    /*#box {
        border: solid 4px var(--azulzinho);
        height: 38em; /* mais um número mágico 
        position: absolute;
        z-index: -1;
    }*/
    h4 {
        margin-top: -1.5em;
    }
    .card p {
        margin-top: 0;
    }
    /* FIM DA FEATURES SECTION */

    /* SEÇÃO TURBINE */

    #boost-section {
        position: relative;
        top: -1.2em;
        text-align: center;
        height: 200px;
        color: white;
        background-color: rgb(28, 23, 56);
        background-image: url("/images/bg-boost-desktop.svg");
    }
    h2 {
        padding-top: 1em;
    }
    #boost-section > button:nth-child(2) {
        margin: 0;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top:-1.2em;


        height: 220px;
        background-color: var(--dark);
        padding-top: 10px;
        padding-left: 10px;
        margin-bottom:-2em;
        padding-bottom:-2em;
        color: white;
    }

    footer #footer_resources {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    footer #footer_logo {
        margin-left: 4%;
    }

    footer ul {
        font-weight: 200;
        list-style-type: none;
    }

    footer ul li:first-child {
        font-weight: 700;
    }

    #footer_social {
        margin-right: 4%;
    }

    i {
        font-size: 1.8em;
    }

    .fab {
        color: white;
    }

    i:hover {
        cursor: pointer;
        color: #92374d;
        transition: all 0.2s ease-out;
    }
}

@media (max-width: 767px) {
    body {
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        background-color: white;
        width: 100%;
        overflow-x: hidden;
        /*overflow-y: hidden; /* REMOVER, SÓ PRA DEBUG */
        font-family: Poppins;
    }

    /* BARRA DE NAVEGAÇÃO */
    header {
    }
    nav {
        background-color: white;

        display: flex;
        justify-content: flex-start;
    }

    #header-links {
        display: flex;
        flex-direction: column;
        margin: 1vw;
        padding: 1vw;
        background-color: var(--purplezinho);
        display: none;
        color: white;
        border-radius: 25px;
        text-align: center;
        line-height: 2em;
    }

    #header-links a {
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
    #header-links a:hover {
        color: salmon;
    }

    #logo,
    #footer_logo {
        /* Revisar */
        width: 25vw;
        margin-left: 0.5em;
        margin-top: 0.5em;
        padding: 0;
    }

    /* HAMBURGER */
    .container {
        display: inline-block;
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        cursor: pointer;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 1.4em;
        height: 0.2em;
        background-color: rgb(0, 0, 0);
        margin: 0.3em 0;
        transition: 0.4s;
    }
    /* FIM BARRA DE NAVEGAÇÃO */

    /* SEÇÃO MAIN (onde reside o hero) */
    main,
    main div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 8vw;
        text-align: center;
    }

    #hero {
        display: flex;
        order: -1;
        justify-content: center;
        margin-top: 1em;
    }
    #hero-svg {
        width: 90%;
    }

    button {
        font-size: 1.2em;
        border: none;
        width: 7.5em;
        height: 2.5em;
        font-weight: 800;
        font-family: Poppins;
        border-radius: 50px;
        background-color: green;
        color: white;
    }
    button:hover {
        background-color: rgb(0, 199, 0);
    }

    p {
        text-align: center;
        margin: 2em;
        margin-top: 0;
        color: gray;
    }
    /* FIM SEÇÃO MAIN */

    /* SEÇÃO INPUT (form p/ encurtar link) */
    #input-section {
        display: flex;
        flex-direction: column;
    }
    #input-section #caixinha {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 50px;
        border-radius: 10px;
        width: 90vw;
        height: 120px;
        background-image: url("/images/bg-shorten-desktop.svg");
        background-color: rgb(28, 23, 56);
    }

    #input-section #caixinha input {
        font-family: Poppins;
        width: 70%;
        height: 30%;
        border: none;
        border-radius: 5px;
        font-weight: 400;
        padding-left: 1em;
        padding-right: 1em;
    }

    #input-section #caixinha button {
        /* REFAZER POIS TEM COISAS EM COMUM COM O OUTRO BUTTON */
        font-size: 1.2em;
        margin-top: 0.8em;
        border: none;
        width: 70%;
        height: 30%;
        font-weight: 800;
        font-family: Poppins;
        border-radius: 5px;
        padding-left: 1em;
        padding-right: 1em;
        background-color: green;
        color: white;
    }

    /* FEATURES SECTION, basicamente só divs com p dentro. */
    #features-section {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: rgb(229, 229, 240);
        position: relative;
        top: -3.8em; /* MAGIC NUMBER <<<<<<<<<<<<<< */
        padding-top: 3.8em;
        z-index: -1;
        margin-bottom: -3.8em;
        padding-bottom: 2em;
    }

    #features-section div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1em; /* VERIFICAR MARGEM DE TODAS AS DIVS EM MOBILE. PODE SER UMA SÓ VARIÁVEL. */
    }

    .card {
        border-radius: 5px;
        background-color: white;
        margin-left: 2em;
        margin-right: 1em;
        margin-bottom: 1em;
    }

    .corner-pic {
        background-color: rgb(53, 2, 53);
        padding: 0.8em;
        border-radius: 50px;
        position: relative;
        top: -3em;
    }

    #box {
        border: solid 4px var(--azulzinho);
        height: 38em; /* mais um número mágico */
        position: absolute;
        z-index: -1;
    }
    h4 {
        margin-top: -1.5em;
    }
    .card p {
        margin-top: 0;
    }

    /* SEÇÃO "TURBINE" */
    #boost-section {
        text-align: center;
        height: 200px;
        color: white;
        background-color: rgb(28, 23, 56);
        background-image: url("/images/bg-boost-desktop.svg");
    }

    /* FOOTER */
    footer {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: white;
        background-color: var(--dark);
        font-size: 0.9em;
        line-height: 2em;
        padding-bottom:-2em;
        margin-bottom:-2em;
    }

    #footer_logo {
        margin: 2em;
        width: 8em;
    }
    footer ul {
        margin: 0;
        padding: 0;
    }

    footer li {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    #footer_social a {
        color: white;
    }

    i {
        /* Seria estúpido usar shorthand aqui. Por que devs preferem shorthand? Prejudica a legibilidade do código. */
        margin-top: 1em;
        margin-left: 0.4em;
        margin-right: 0.4em;
        margin-bottom: 1em;
        font-size: 1.8em;
    }

    i:hover {
        color: var(--hover);
    }

}
